@padding: 20px;
@color1: #164EA3;
@color2: #FFFFFF;
.upperCase {
  text-transform: uppercase;
};
.fontRaleway {
  font-family: Raleway;
}
.fontRalewayWeight1 {
  font-weight: 400;
}
.fontRalewayWeight2 {
  font-weight: 700;
}


.menu-top {
  padding: @padding;
  background-color: @color1;
}
.navbar-right li a, .navbar-header a {
  .upperCase;
  .fontRaleway;
  .fontRalewayWeight2;
  color: @color2;
};
