/*---====================================================================
1 - Google Font
======================================================================---*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*---====================================================================
2 - Main styles
======================================================================---*/
body {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section-about,
.section-services {
  padding: 120px;
}
.upperCase {
  text-transform: uppercase;
}
.fontRaleway {
  font-family: "Raleway";
}
.fontRoboto {
  font-family: "Roboto Condensed", sans-serif;
}
.menu-top {
  padding: 20px;
  background-color: transparent;
  color: #FFFFFF;
  border-bottom: none;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.navbar-right li a,
.navbar-header a {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 15px;
}
.navbar-header a {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  border-radius: 3px;
}
.top-nav-collapse {
  background-color: #164EA3;
  color: white;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse .navbar-header a {
  background-color: white;
  color: #164EA3;
  border-radius: 3px;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
#section-home {
  height: 100%;
  background: url("../assets/img/bg/top-header.jpg") no-repeat fixed 50% 50% / cover;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.main-title {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 300px;
  font-weight: 700;
}
.main-title h1 {
  font-size: 55px;
}
.cd-intro {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
p.cd-headline {
  font-weight: 700;
  font-size: 24px;
  text-transform: inherit;
}
.main-title p {
  font-size: 25px;
}
.social-icons li i {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  color: #164EA3;
  text-align: center;
  border-radius: 3px;
  vertical-align: middle;
  padding: 12px;
  font-size: 16px;
}
.other-title {
  margin-bottom: 80px;
}
.other-title h2 {
  font-size: 35px;
}
.about-nav {
  text-transform: uppercase;
}
.about-nav li a {
  background-color: #EEEEEE;
  border-radius: 0px;
}
.about-nav li a:hover {
  background-color: #164EA3;
  color: #FFFFFF;
}
.nav-pills > li.active > a {
  background-color: #164EA3;
  color: #FFFFFF;
}
.about-nav li a {
  font-family: "Roboto Condensed", sans-serif;
  color: #777E8D;
  font-weight: bold;
  letter-spacing: 1px;
}
.about-wrapper h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.about-wrapper h4 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 30px;
  font-weight: 400;
}
.about-wrapper p {
  font-family: "Roboto Condensed", sans-serif;
  color: #666666;
  line-height: 28px;
  font-weight: 300;
  font-size: 16px;
}
.about-wrapper button {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  padding: 14px 40px 14px 40px;
  font-size: 13px;
  font-weight: 700;
}
.education-wrapper {
  margin-top: 30px;
}
.education-wrapper h2,
.skills-wrapper h2 {
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.education-box {
  background-color: #EEEEEE;
  padding: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.education-text {
  float: right;
  width: 88%;
  font-family: "Roboto Condensed", sans-serif;
}
.education-text h4 {
  font-size: 22px;
  font-weight: 400;
}
.education-text p {
  font-weight: 300;
  font-size: 16px;
}
.education-text p strong {
  color: #666666;
}
.education-icon {
  display: inline-block;
}
.education-icon {
  width: 12%;
  margin-bottom: 40px;
}
.education-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid #164EA3;
  line-height: 40px;
  color: #164EA3;
}
.skills-title {
  margin-top: 20px;
  padding-bottom: 1px;
  border-bottom: 2px solid #EEEEEE;
  margin-bottom: 10px;
}
.skills-title h3 {
  font-size: 20px;
  margin-bottom: 3px;
}
.personal-skills i,
.programming-skills i,
.personal-skills h3,
.programming-skills h3 {
  display: inline-block;
}
.progress {
  position: relative;
}
.progress .progress-type {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  position: absolute;
  left: 0px;
  height: 100%;
  padding: 7px 20px 5px 10px;
  color: #FFFFFF;
}
.progress .progress-completed {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #666666;
  padding-top: 3px;
  padding-left: 5px;
}
.progress {
  border-radius: 0px;
  box-shadow: none;
  height: 33px;
}
.skills-wrapper {
  margin-top: 30px;
}
.programming-skills {
  margin-top: 40px;
}
.skills-list {
  padding-left: 0px;
  margin-left: 0px;
}
.skills-list li:first-child .progress .progress-bar {
  background-color: #3498DB;
}
.skills-list li:nth-child(2) .progress .progress-bar {
  background-color: #9B59B6;
}
.skills-list li:nth-child(3) .progress .progress-bar {
  background-color: #E74C3C;
}
.skills-list li:last-child .progress .progress-bar {
  background-color: #C0392B;
}
.skills-list li:first-child .progress .progress-type {
  background-color: #336687;
}
.skills-list li:nth-child(2) .progress .progress-type {
  background-color: #674675;
}
.skills-list li:nth-child(3) .progress .progress-type {
  background-color: #8D3F37;
}
.skills-list li:last-child .progress .progress-type {
  background-color: #7A362F;
}
#section-services {
  background-color: #164EA3;
}
#section-services .other-title h2 {
  color: #FFFFFF;
}
.services-box {
  background-color: #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 3px;
}
.services-icon {
  font-size: 36px;
  background-color: #EEEEEE;
  text-align: center;
}
.services-icon i {
  background-color: #FFFFFF;
  padding-top: 27px;
  color: #164EA3;
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #164EA3;
  top: 32px;
}
.services-text {
  background-color: #164EA3;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
.services-text h4 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}
.services-text p {
  margin-bottom: 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.item {
  position: relative;
}
.section-portfolio {
  padding: 120px;
}
.section-portfolio ul {
  list-style: none;
  padding: 0px;
  text-align: center;
  margin-left: 8px;
}
.section-portfolio ul li {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #777;
  padding: 9px 15px 9px 15px;
  letter-spacing: 1px;
  border: 2px solid #CCCCCC;
  text-transform: uppercase;
  cursor: pointer;
}
.section-portfolio .portfolio-inner img {
  max-width: 100%;
}
.section-portfolio .portfolio-inner .portfolio-caption {
  position: absolute;
  color: #333333;
  left: 0;
  top: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.section-portfolio .portfolio-inner .portfolio-caption h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #fff;
  padding: 10px 10px;
  display: inline-block;
}
.item:hover .portfolio-caption {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.item:hover .portfolio-caption h4 {
  margin-top: 150px;
  -webkit-transition: .3s;
  transition: .3s;
}
.portfolio .item img {
  width: 100%;
  z-index: 99999;
}
.portfolio-inner .mix {
  padding: 10px;
}
.section-blog {
  padding: 120px;
  background-color: #F9F9F9;
}
.section-blog .row .col-md-4 .blog-item {
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 6px 0 rgba(0, 1, 1, 0.05);
}
.section-blog .row .col-md-4 .blog-item .blog-text {
  padding: 30px 15px 15px 15px;
  background-color: white;
}
.section-blog .row .col-md-4 .blog-item .blog-text h4 {
  padding-bottom: 8px;
  font-size: 21px;
}
.section-blog .row .col-md-4 .blog-item .blog-text .blog-date {
  font-family: "Roboto Condensed", sans-serif;
  color: #777;
  text-transform: capitalize;
  font-weight: 700;
}
.section-blog .row .col-md-4 .blog-item .blog-text .blog-paragraph {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  color: #666;
  line-height: 26px;
}
.section-blog .row .col-md-4 .blog-footer {
  background-color: #164EA3;
  padding: 15px;
}
.section-blog .row .col-md-4 .blog-footer ul {
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.section-blog .row .col-md-4 .blog-footer ul li {
  color: white;
}
.section-blog .row .col-md-4 .blog-footer ul li a {
  color: #CCCCCC;
}
.section-blog .row .col-md-4 .blog-footer ul li:nth-child(2) a i {
  color: red;
}
